{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/login-page-style.css">
{% endblock %}

{% block body %}
    <div style="margin-top: 40px;">
        <div style="width: 500px; margin-top: 10px; margin:auto;padding: 10px;border: 2px solid;">
            <div style="text-align: center;font-size: 30px;">Реєстрація</div>
            <form class="form-login" method="post">
                {% csrf_token %}
                <input type="text" placeholder="ім'я" name="first_name" id="id_first_name" required>
                <input type="text" placeholder="призвіще" name="first_name" id="id_username" required>
                <input type="email" placeholder="пошта" name="email" id="id_email">
                <input type="text" placeholder="логін" name="username" id="id_username" required>
                <input type="password" placeholder="пароль" name="password1" required>
                <input type="password" placeholder="повторіть пароль" name="password2" required>
                <button type="submit" style="width: 150px;">зареєструватись</button>
            </form>
            <a href="{% url 'login_page' %}">ввійти</a>
        </div>
    </div>
{% endblock %}